#formLogin{
    padding: 15px;
    min-width:300px;
}

.brand-name {
    font-family: 'Shadows Into Light', cursive;
    font-size: xx-large;
}

.go-button {
    margin-left: 5px;
}

.search-field {
    margin-left: 10px;
}