<p>journey-view works!</p>

<div>
    <input type="number" [(ngModel)]="selectedJourneyId">
    <button (click)="getJourney()">Get</button>
</div>
<div *ngIf="selectedJourney$ | async; let journey; else noJourney">
    <ul>
        <li *ngFor="let image of imagesOfJourney$ | async" (click)="focusImage(image)">
            ID: {{image.id}} Name: {{image.name}} Long: {{image.longitude}} Lat: {{image.latitude}}
        </li>
    </ul>
    <span>Insert GPS Map here for {{journey.id}}</span>
</div>
<ng-template #noJourney>
    No Journey to show.
</ng-template>
<ng-template #noImages>
    No images in journey.
</ng-template>