<br/>
<!-- this is needed for appropriate rendering of the map, no idea why it's not imported from node_modules -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

<div class="title-container">
    <label class="journey-title" for="title">
        Journey View
    </label>
</div>
<br/>

<div class="selector">
    <select id="dropdown" class="browser-default custom-select" [(ngModel)]="selectedJourneyId">
        <option selected hidden>Select a journey</option>
        <option *ngFor="let journey of journeys" value="{{journey.id}}">{{journey.name}}</option>
    </select>

    <button class="btn btn-dark btn-sm" (click)="getJourney()">Load journey</button>
</div>
    

<div class="view-content">
    <div class="" style="width: 30%;">
        <div class="images" *ngIf="selectedJourney$ | async; let journey; else noJourney">
            
            <!-- <ul>
                <li *ngFor="let image of imagesOfJourney$ | async" (click)="focusImage(image)">
                    ID: {{image.id}} Name: {{image.name}} Long: {{image.longitude}} Lat: {{image.latitude}}
                </li>
            </ul> -->

            <div *ngFor="let image of imagesOfJourney$ | async" (click)="focusImage(image)">
                <div class="info-container">
                <img class="thumbnail" src="http://localhost:8080/image/{{image.id}}" alt="">
                    <div class="info-box">
                        <ul>
                            <li><span>ID</span></li>
                            <li><span>Latitude</span></li>
                            <li><span>Longitude</span></li>
                            <!-- <li><span>Name</span></li> -->
                            <li><span>Date</span></li>
                            <li><span>Timestamp</span></li>
                        </ul>
                    </div>
                    <div class="info-box">
                        <ul>
                            <li>: {{image.id}}</li>
                            <li>: {{image.latitude.toString().substring(0,8)}}...</li>
                            <li>: {{image.longitude.toString().substring(0,8)}}...</li>
                            <!-- <li>: {{image.name}}</li> -->
                            <li>: {{image.timestamp.substring(0,10)}}</li>
                            <li>: {{image.timestamp.substring(11,19)}} UTC</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--TO-DO: make scrollable -->

            <!--
            <div *ngFor="let image of imagesOfJourney$ | async" (click)="focusImage(image)">
                <div (click)="focusImage()">
                    <img src="https://i.picsum.photos/id/581/536/354.jpg" style="width: 50px; height: 50px;">
                    <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                        <span>{{image.id}}</span>
                        <span>{{image.latitude}}</span>
                        <span>{{image.longitude}}</span>
                        <span>{{image.name}}</span>
                        <span>{{image.date}}</span>
                        <span>{{image.timestamp}}</span>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>

    <div id="map"></div>
</div>

<ng-template #noJourney>
    <div class="alert alert-info" role="alert">
        No journey to show.
    </div>
</ng-template>
<ng-template #noImages>
    <div class="alert alert-info" role="alert">
        No images in journey.
    </div>
</ng-template>
