label {
    color: white;
}

.title-container {
    text-align: center;
}

.info-container {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 368px;
    height: 80;
    background-color: #343a40;
    margin-bottom: 5px;
    .thumbnail {
        margin-left: 20px;
        width: 78px;
        height: 78px;
    }
}

.info-box {
    ul {
        list-style: none;
        margin-top: 15px;
        li {
            margin-left: -20px;
            color: white;
            font-size: 10pt;
            font-family: 'Roboto', sans-serif;
            span {
                font-weight: bold;
                color: white;
                font-size: 9pt;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}

.journey-title {
    font-family: 'Shadows Into Light', cursive;
    font-size: xx-large;
    text-align: center;
    color: black;
}

#map {
    border: 2px solid #343a40;
    width: 66%;
    height: 85vh;
}

#dropdown {
    width: 368px;
    margin-right: 10px;
}

.alert {
    width: 368px;
}

.view-content {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.selector {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}

//style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start;"