<!-- this is needed for appropriate rendering of the map, no idea why it's not imported from node_modules -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

<div class="" style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start;">

    <div class="" style="width: 25%;">
        <div class="">
            <select [(ngModel)]="selectedJourneyId">
                <option *ngFor="let journey of journeys" value="{{journey.id}}">{{journey.name}}</option>
            </select>
            <button (click)="getJourney()">Get</button>
        </div>
        <div *ngIf="selectedJourney$ | async; let journey; else noJourney">
            <span>GPS Map for Journey {{journey.name}}</span>
            <!-- <ul>
                <li *ngFor="let image of imagesOfJourney$ | async" (click)="focusImage(image)">
                    ID: {{image.id}} Name: {{image.name}} Long: {{image.longitude}} Lat: {{image.latitude}}
                </li>
            </ul> -->
            <div *ngFor="let image of imagesOfJourney$ | async" (click)="focusImage(image)">
                <div (click)="focusImage()"
                style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start;">
                <img src="https://i.picsum.photos/id/581/536/354.jpg" style="width: 50px; height: 50px;">
                <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                    <span>{{image.id}}</span>
                    <span>{{image.latitude}}</span>
                    <span>{{image.longitude}}</span>
                    <span>{{image.name}}</span>
                    <span>{{image.date}}</span>
                    <span>{{image.timestamp}}</span>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div id="map" style="width: 75%; height: 85vh;"></div>

</div>

<ng-template #noJourney>
    No Journey to show.
</ng-template>
<ng-template #noImages>
    No images in journey.
</ng-template>
