<div class="container-fluid bg-dark text-light">
    <form class="form-signin" role="form" (submit)="login()">
        <div class="form-group">
            <label class="sr-only" for="username">Username</label>
            <input [(ngModel)]="credentials.username" class="form-control" name="username" id="username" type="text">
        </div>
        <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <input [(ngModel)]="credentials.password" class="form-control" name="password" id="password" type="password">
            <br>
        </div>
        <div [hidden]="!error" class="alert alert-danger" role="alert">
            Wrong credentials entered.
        </div>
        <button type="submit" id="btnLogin" class="btn btn-light btn-sm">Login</button>
    </form>
</div>