.journey-title {
    font-family: 'Shadows Into Light', cursive;
    font-size: xx-large;
    text-align: center;
    color: black;
}

ul {
    background-color: #343a40;
}

.metadata {
    background-color: #343a40;
}

label {
    color: white;
}

.container {
    text-align: center;
}

.journey-title-input {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.separator {
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

hr {
    border-top: 1px solid white;
}