<div class="row justify-content-center">
    <div class="journey-list" *ngFor="let journey of journeys">
        <div class="col-sm-12">
            <div class="card text-center text-white bg-dark mb-3">
                <div class="card-header">
                    {{journey.name}}
                    <ng-fontawesome (click)="onClickEdit()" class="edit-icon" icon="share-alt" size="1.5" color="white"></ng-fontawesome>
                    <ng-fontawesome (click)="onClickShare()" class="share-icon" icon="edit" size="1.5" color="white"></ng-fontawesome>
                </div>
                
                <img src={{journey.images[0].source}}>
                <div class="card-footer text-muted">
                    <div *ngIf="journey.description; else elseBlock">{{journey.description}}</div>
                    <ng-template #elseBlock>{{emptyJourneyDescription}}</ng-template>
                </div>
            </div>
        </div>
    </div>
</div>