.card {
    width: 32rem;
    height: 24rem;
}

.share-icon {
    position: absolute;
    left: 10px;
    margin-top: -8px;
}

.edit-icon {
    position: absolute;
    right: 10px;
    margin-top: -8px;
}

.alert {
    width: 100%;
    justify-content: none;
}